<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Calendar </h3>
  </div>
  <div class="panel-body">
    <p>
      <div id='calendar' class="<%= @calendar_url %>"></div>
    <p>
  </div>
</div>

<% content_for :javascript_ready do %>
  <%= javascript_include_tag 'fullcalendar/calendar' %>
  <%= javascript_include_tag 'fullcalendar/fullcalendar' %>
  <%= javascript_include_tag 'fullcalendar/gcal' %>
<% end %>

<% content_for :stylesheet_ready do %>
  <%= stylesheet_link_tag :fullcalendar %>
<% end %>